{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [],
      "ignore": ["./tests/*", "jest.config.js"]
    },
    "test": {
      "presets": []
    }
  }
}
